body{
	text-align: center;
	font-size: 18px;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header{
	margin: 40px 0;
}

header span{
	text-transform: uppercase;
	font-size: 40px;
}

header div span{
	border-top: 3px solid #000000;
	display: inline-block;
	width: 30%;
}

header div{
	text-align: center;
}

main img{
	object-fit: cover;
	border-radius: 50%;
}

main div p:last-child{
	font-size:0.8em;
}

main div{
	width: 30%;
	display: inline-block;
}

body > div{
	max-width: 900px;
	width: 900px;
	margin: 0 auto;
}